#hjd_searchpnl
{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    background-color: white;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#hjd_btn_wrapper
{
	float:right;
	display:block;
	margin-right: 0px;
	margin: 0px;
	padding: 0px;
}
#hjd_cj_wrapper
{
	float:right;
	display:block;
	width: 92px;
}
#hjd_btnEnSearch:hover, #hjd_btnFrSearch:hover, #hjd_btnKrSearch:hover
{
	background-position: 0px -336px;
}

#hjd_btnJCSearch, #hjd_btnCJSearch
{
	font-family: verdana;
	font-size:12px;
	float: left;
	width: 46px;
	height: 24px;
	display: block;
	text-decoration: none !important;		
	color:#FFF !important;
	text-align: center;
	margin-left: 0px;
	margin-top: -4px;
	padding-top: 10px;	
	cursor: pointer;
}


#hjd_btnJCSearch:hover
{
	background-position: 0px -436px;
}
#hjd_btnCJSearch:hover
{
	background-position: 0px -470px;
}


#hjd_top #hjd_top_title
{
    margin-left:50px;
	_margin-left:25px;
    margin-top:5px;
    color:#65A122;
    float:left;
    display:block;
}
#hjd_bottombar
{
	background-color:#ECFCC2;
	#width:expression(parseInt(this.parentNode.clientWidth) + 'px');
	height:28px;
	height: 26px;
	position: absolute;
	width: 100%;
	bottom: 0px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.hdj_cursor_def
{
    cursor:default;
    color:Green;
    vertical-align:middle;
    float:left;
    margin-left:30px;
}
#hjd_bodyframe
{
    background-color:white;
    padding: 8px 8px 8px 10px;
    
    color:#494949;
    overflow:auto;
    /*overflow-y:auto;*/
    /*height:228px;*/
    text-align:left;
}
#hjd_bodyframe a
{
    color:#075DB3;
    text-decoration:underline;
}
#hjd_panel_feedback
{
    clear:both;
    font-size:12px;	
    margin:8px auto 10px 3px;
}
#hjd_nodata_msg,#hjd_nodata_msg2
{
    padding-left: 31px;
    line-height: 18px;
    width: 205px;
}
#hjd_nodata_pnl
{
    width: 100%;
    border-bottom: 1px dotted #A3A3A5;
    padding-bottom: 8px;
}
#hjd_recommend,#hjd_suggest
{
    margin:8px auto 5px 3px;
    /*margin-top:8px;
    margin-bottom:5px;
    margin-left:3px;*/
}
#hjd_suggest ol
{
    padding-left:0px;
    margin-top:6px;
}
#hjd_suggest li
{
    margin-top:3px;
}
#hjd_panel_feedback a,#hjd_recommend a
{
    margin-right:5px;
    color:#76AC30;
    text-decoration:none;
}
#hjd_panel_feedback a:hover,#hjd_recommend a:hover
{
    margin-right:5px;
    color:orange;
    text-decoration:underline;
}
#hjd_pronounce_pronounce,#hjd_uk_pronounce_pronounce
{
    color:orange;
    font-family:Lucida Sans Unicode;
    font-size:14px;
    margin-left:3px;
    margin-top:2px;
    /*position:relative;*/
}
#hjd_txtsearch
{
    border:1px solid #DDDDDD;
    color:#3FA6E9;
    font-size:14px;
	float: left;
    height:21px;
    padding:2px 0px 2px 5px;
    width:299px;
    line-height:150%;
    font-family:verdana;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	outline-style: none;
	outline-width: 0px;
	background:#FFF;
}
body:nth-of-type(1) #hjd_chkLangEn,#hjd_chkLangJp,#hjd_chkLangFr,#hjd_chkLangKr{ position:relative;top:0px;} /* Chrome、Firefox,opera支持 */

#hjd_chkLangJp,#hjd_chkLangEn,#hjd_chkLangFr
{
    /*margin-right:3px;*/
	padding-top:1px;
	*padding-top:0px;
	*padding-bottom:1px;
	_padding-top:2px;
}
#hjd_panel_comment,.fr_comment
{
    /*font-family:verdana;*/
    font-size:14px;
    line-height:180%;
    margin:5px auto 10px 3px;
    color:#494949;
}
#hjd_txtresult .fr_comment,#hjd_txtresult .kr_comment
{
    font-size:12px;
    margin-top:3px;
    margin-left:3px;
}
#hjd_searchpnl input ,#hjd_searchpnl button,#hjd_searchpnl select,#hjd_searchpnl label
{
vertical-align:baseline;
}

#hjd_txtresult
{
    margin-top:5px;
    margin-left:4px;
    font-family:verdana,宋体;
    overflow:auto;
}
#hjd_txtresult a:hover
{
    color:Orange;
    text-decoration:underline;
}
#hjd_imgloading
{
   height:100px;
   text-align:center;
   vertical-align:middle;
   padding-top:40px;
   font-size:12px;
   color:Green;
}

/*for jp*/
.hjd_jp_ico {
    /*background-color:#C1C1C1;*/
    /*color:White;*/
    color:#494949;
    font-size:12px;
    padding:1px 2px;
    float:left;
}
.hjd_jp_resultcount {
    color:#390;
    text-align:right;
    float:right;
}
#hjd_bodyframe a.hjd_expen1 {
    color:#390;
    font-size:11px;
    text-decoration:none;
}
#hjd_bodyframe a.hjd_expen1:link {
    color:#390;
    font-size:11px;
    text-decoration:none;
}
#hjd_bodyframe a.hjd_expen1:hover {
    color:#f60;
}
#hjd_bodyframe .hjd_jp_explain,#hjd_dict_explain{
	margin:5px 0px 5px 5px;
	font-size:13px;
	line-height:26px;
	clear:both;
}
#hjd_bodyframe .hjd_jp_title,#hjd_bodyframe .hjd_jp_title2 {
    padding:2px;
    margin-right:6px;
}
/*#hjd_bodyframe .hjd_jp_title {
    background:none repeat scroll 0 0 #E8E8E8;
    padding:2px;
}
#hjd_bodyframe .hjd_jp_title2 {
    background:none repeat scroll 0 0 #DCF1FC;
    padding:2px;
}*/
#hjd_txtresult a.expen {
    color:#075DB3;
    font-size:11px;
    text-decoration:none;
}
#hjd_txtresult a.expen:link {
    color:#075DB3;
    font-size:11px;
    text-decoration:none;
}
.hjd_fl
{
    float:left;
}
.hjd_fr
{
    float:right;
}
.hjd_red
{
    color:Red;
}
.hjd_Green
{
    color:Green;
}
.hjd_Orange
{
    color:Orange;
}
.hjd_noresultt_suggest
{
    padding-left:23px; 
 
}
#hjd_tipAlert{
display:none;
background-color:#ECFBC2;
color:#A4BF3C;
padding:2px;position:
absolute;
right:7px;
top:28px;
}

.hjd_title_ajax_tip a{
    color: #4d8606;
    text-decoration: none;
}
.hjd_title_ajax_tip a:hover{
    color: orange;
    text-decoration: none;
}
#dictBtn{
    padding: 3px 5px 3px 9px;
}
#copyBtn{
    padding: 3px 9px 3px 5px;
}
#hjd_fr_pronounce_sound,
#hjd_kr_pronounce_sound,
#hjd_uk_pronounce_sound,
#hjd_pronounce_sound,
#hjd_en_titlepnl #hjd_amw_panel
{
    position:relative;
    top:-2px;
    *position:static;/*for IE*/
}
#hjd_amw_panel
{
    position: relative;
    top:-2px;
    font-size:13px;
    margin-left:6px;
    *position:static;/*for IE*/
}
#hjdict_switch
{
    cursor:pointer;
    position:absolute;
    text-decoration:none;
    bottom:5px;
    left:10px;
    color:#65A122;
    padding-left:16px;
    height: 14px;
    line-height: 14px;
    background-color:#ECFCC2;
    padding-top: 2px\9;
    bottom: 3px\9;
    display: none;
}
#hjdict_switch span, #hjd_set span{
    display: block;
    padding-top: 2px\9;
}
#hjdict_switch:hover
{
	color: orange;
	/*text-decoration:underline;*/
}
#set_detail
{
    display:none;
	text-decoration:none;
    background-color: #F4FFDC;
    border: 1px solid #A4BF43;
    width: 91px;
    height: 41px;
    position: absolute;
    bottom: 26px;
    right: 6px;
	padding-top: 0px;
	padding-bottom: 17px;
	+padding-bottom: 12px;
	*padding-bottom: 11px;
	_padding-bottom: 0px;
	line-height: 16px;
	line-height: 150%\9;
}
#set_detail a
{
	display: block;
	padding-top: 1px;
	#padding-top: 5px;
	padding-bottom: 7px;
	#padding-bottom: 5px;
	text-decoration:none;
}

#set_detail a:hover
{
	background-color: #DEF2B0;
	color:Orange;
}

#dictlang
{
    border:1px solid #A5BF42;
    background-color:#F4FFDC;
    display:none;
    text-align:center;
    position:absolute; 
    width:30px;
    z-index:9999; 
    height:112px;
    top: 3px;
	+top: 3px;
	_top: 3px;
    right: 53px;    
}
#dictlang a:hover
{
    color:#ffa500;
	background-color: #def2b0;
}

#dictlang a
{
    color:#78AE36;
    text-decoration:none;
	display: block;
}

#hjd_set_wrapper
{
	position: absolute;	
	border-left: 1px solid #ECFCC2;
	border-bottom: 1px solid #ECFCC2;
	border-right: 1px solid #ECFCC2;
	bottom:2px;
	right:6px;
	padding: 5px 4px 5px 4px;
    _padding-top: 3px;
}

.hjd_set_wrapper_hover
{
	background-color: #F4FFDC;
	border-left: 1px solid #A4BF43 !important;
	border-bottom: 1px solid #A4BF43 !important;
	border-right: 1px solid #A4BF43 !important;
}

#hjd_set_topline
{
	position:absolute;
	width: 48px;
	height: 1px;
	top: 0px;
	left: 0px;
	background-color: #F4FFDC;
	display: none;
}
#hjd_set:hover
{
	text-decoration:none;
}
#hjd_pro_split
{
    color:#DFDFDF;
    margin-right:8px;
}

#hjd_quicktoolbar
{
    max-height:200px;
    width:300px;
	background-color: #FFFFFF;
    border:1px solid #A4BF3C;
    padding:10px;
    font-size:12px;
    overflow-y: auto;
}
#hjd_quicktoolbar #hjd_uk_pronounce_sound
{
    color: #65A122;
    margin-right:10px;
    font-size:14px;
}

#hjd_feedback{
	position: absolute;
	color:#65A122;
	text-decoration: none;	
	right: 60px;
	bottom: 5px;
    bottom: 3px\9;
    _bottom: 5px;
}
#hjd_feedback:hover{
	color: orange;
	text-decoration: none;
}


#switchToSimple:hover{
    color: orange;
    text-decoration: none; 
}


#hjlang{
	background-color:#ECFBC2;
	color:#65A122;
	text-decoration:none;
	z-index:8888;
	position:absolute;
	top:5px;
	top: 5px\9;
	*top:6px;
	_top:6px;
	right:63px;
}

#shiftLan1{
	background-color:#ECFBC2;
	color:#65A122;
	text-decoration:none;
	z-index:8888;
	position:absolute;
	top:5px;
	right:60px;
	cursor:pointer;
}

.no_underline{
	text-decoration:none !important;
}

#hjd_panel{
	z-index: 999999; 
	font-size: 12px; 
    font-family: verdana, arial;
	border: 1px solid rgb(164, 191, 60); 
	width: 382px; 
	height: 302px; 
	position: absolute; 
	display: block; 
	left: 661px; 
	top: 34px;
	opacity: 1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	line-height: 14px;	
}
#hjd_noresult_suggest
{
    padding-left:3px;
}
#hjd_noresult_suggest a
{
    line-height:22px;
    margin-right:10px;
}
#hjd_noresult
{
    /*margin-left:5px;*/
    margin-right:5px;
}
#hjd_noresult a
{
    text-decoration:none;
}
.clear
{
	clear: both;
}

.hjd_jplang_title
{
    margin-bottom:22px;
}

#hjd_txtresult .hjd_add_myword
{
    margin-left:5px;
    float:left;
}
#hjd_en_titlepnl
{
    margin-left:3px;
    margin-top:3px;
    color:#666;
}

.hjd_simple{
    border: 1px solid #cedd97;
    padding: 2px;
    background: #f2fdd8;
    width: 278px;
    font-family: verdana, arial;
    font-size: 12px;
    color: #65A122;
    position: absolute;
    z-index: 9000005;
}
.hjd_simple a{
    color: #65A122;
    text-decoration: none;
}
.hjd_simple a:hover{
    color: orange;
}
.hjd_simple .inner{
    background: #fff;
    width: 258px;
    padding: 10px;
    text-align: left;
}
.hjd_simple .simple_title{
    color: #3FA6E9;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}
.hjd_simple .lang{
    position: absolute;
    top: 14px;
    right: 10px;
    display: none;
}
.hjd_simple .lang a{
    text-decoration: none !important;
}
.disabled{
    color: #ccc !important;
    cursor: default;
}
.hjd_simple .hjd_simple_content{
    line-height: 20px;
    margin-top: 8px;
    color: #494949;
    word-break: break-all;
    min-height: 20px;
    height: auto !important;
    height: 150px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
.hjd_simple .hjd_simple_content *{
    border-bottom: none !important;
    padding-bottom: 0 !important;
}
.hjd_simple .loading{
    text-align: center;
    position: absolute;
    top: 40px;
    width: 258px;
    color: #999;
}
.hjd_simple .loading img{
    vertical-align: middle;
    margin-top: -2px;
    _margin-top: 0px;
}
.hjd_simple .hjd_simple_content li{
    list-style-position: inside;
}
.hjd_simple .hjd_simple_bottom{
    padding-top: 8px;
    height: 20px;
    line-height: 20px;
    position: relative;
}

.hjd_simple .hjd_simple_lang_link{
    position: absolute;
    right: 0;
    top: 8px;
}
.hjd_simple .hjd_simple_lang_list{
    width: 57px;
    position: absolute;
    right: 26px;
    top: 6px;
    border: 1px solid #cedd97;
    background: #fff;
    display: none;
}

.hjd_simple .hjd_simple_lang_list a:hover{
    background-color: #f6f6f6;
}

.hjd_simple .hjd_simple_lang_list a div{
    padding-top: 2px\9;
}

.hjd_simple .hjd_simple_lang_list .firstitem:hover{
    background: none;
}

.hjd_simple .hjd_simple_lang_list .firstitem span{
    position: absolute;
    width: 20px;
    height: 24px;
    top: -1px;
    right: -1px;
    _right: -2px;
    border-left: 1px solid #cedd97;
    border-bottom: 1px solid #cedd97;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.hjd_simple .hjd_simple_amw_panel
{
    position: relative;
    top: -2px;
    margin-left: 6px;
    visibility: hidden;
}

.hjd_simple .hjd_simple_amw_panel img
{
    border: 0;
}