.card {
   font-family: Arial;
   font-size: 20px;
   text-align: left;
   color: black;
   background-color: white;
}
div{
   margin:5px auto;
}
.version{
  text-align: center;
  font-size: 12px;
}
.word{
   font-weight: bold;
   color:#4d8606;
   text-align:center;
}
.front{
   font-size:30px;
   margin: 50px auto;
}
.back{
   text-align:left;
   font-size:25px;
   padding-left:10px;
}
.phonetic{
   font-weight:bold;
   font-size:15px;
   color: orange;
}
.trans{
   line-height: 20px;
   background-color: #FAFFE9;
   border: 1px solid #F0EFF0;
   padding: 6px 6px 6px 13px;
   color: #363636;
   margin-top:15px;
   font-size:18px;
}
/*沪江style*/
.hjd_jplang_title {
    margin-bottom: 22px;
}
.hjd_Orange {
    color: Orange;
}
.hjd_Green {
    color: Green;
}
.hjd_jp_ico {
    color: #494949;
    padding: 1px 2px;
    float: left;
}
.hjd_jp_resultcount {
    color: #390;
    text-align: right;
    float: right;
}
.hjd_jp_title,.hjd_jp_title2 {
    padding: 2px;
    margin-right: 6px;
}
#hjd_pronounce_pronounce, #hjd_uk_pronounce_pronounce{
    color: orange;
    font-family: Lucida Sans Unicode;
    font-size: 14px;
    margin-left: 3px;
    margin-top: 2px;
}
.darkgray {
    color: #999;
}
#hjd_pro_split {
    color: #DFDFDF;
    margin-right: 8px;
}
#hjd_txtresult .kr_comment {
    font-size: 12px;
    margin-top: 3px;
    margin-left: 3px;
}
#hjd_panel_feedback {
    clear: both;
    font-size: 12px;
    margin: 8px auto 10px 3px;
}

a,a:visited{
    margin-right: 5px;
    color: #76AC30;
    text-decoration: none;
}
a:hover{
   color:orange;
   text-decoration:underline;
}
/*隐藏添加生词本按钮*/
.hjd_add_myword{
   display:none
}
#hjd_amw_panel{
 display:none
}
/*移动端和PC端音频图标样式*/
.playbutton{
   width:20px;
   height:20px;
   vertical-align:text-bottom;
}
.playbutton:hover{
   cursor:pointer;
}
.playbutton:active{
   position:relative;
   top:2px;
}